:root{
    --color-primary: #2E2F42;
    --color-primary-dark: #434455;
    --color-secondary: #ffffff;
    --color-brand: #4D5AE5;
    --color-brand-secondary: #404BBF;
    --color-brand-inverted: #E7E9FC;
    --color-background: #ffffff;
    --color-background-secondary: #F4F4FD;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: inherit;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color: var(--color-background);
    
}
ul{
    list-style-type: none;
}
.logo-first{
    font-size: 18px;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: var(--color-brand);
    text-decoration: none;
}
.logo-second{
    color: var(--color-primary);
}
.logo-footer{
    color: var(--color-background-secondary);
}
.address{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-primary-dark);
    text-decoration: none;
}
.address:hover,
.address:focus{
    color: var(--color-brand-secondary);
}
.main-title{
    background: var(--color-primary);
}
.main-text{
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: var(--color-secondary);
}
.main-button{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    display: flex;
}
.features{
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-primary);
}
.section{
    background: var(--color-background-secondary);
}
.feature-title{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-primary);
}
.main-info{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-primary-dark);
}
.page-link{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-primary);
    text-decoration: none;
}
.page-link:hover,
.page-link:focus{
    color: var(--color-brand-secondary);
}
.main-button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--color-secondary);
    background: var(--color-brand);
    cursor: pointer;
    display: flex;
    flex-direction: row;
   border: none;
}
.footer{
    background: var(--color-primary);
}
.footer-text{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-brand-inverted);
}